red = #f1504d
lightPurple = #a212d1
blue = #3090e4
orange = #ff5420
green = #46b491
pink = #ff82a6
black = #333
brown = #c28955

[class*="bg-"]
  color #fff

.bg-red
  background red

.red
  color red

.bg-light-purple
  background lightPurple

.light-purple
  color lightPurple

.bg-blue
  background blue

.blue 
  color blue

.bg-orange
  background orange

.orange
  color orange

.bg-green 
  background green

.green
  color green

.bg-pink
  background pink

.pink 
  color pink

.bg-black
  background black

.black
  color black

.bg-brown
  background brown

.brown
  color brown
